{% extends "template.html" %}
{% block content %}
  <title>Create Post</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BR9L8C0659"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BR9L8C0659');
</script>



<h1 style="color:white">Post New Item</h1>
<div class=" container jumbotron">
  
  <form class="form-group" method="POST" enctype="multipart/form-data">
     {{ form.hidden_tag() }}

     	<div class="form-group">
		     <h1>{{ form.title.label(class="form-control-label") }}
		     {{ form.title(class="form-control title form-control-lg",placeholder="Example: Ayam Penyet Sameon",maxlength="30") }}
		     </h1>
 		</div>
	     <div class="form-group">
		     <h1>{{ form.text.label(class="form-control-label") }}
		     {{ form.text(class="form-control form-control-lg", placeholder="Example: details, €price, availability...") }}
		     </h1>
	     </div>
		<div class="form-group">
		     <h1>{{ form.location.label(class="form-control-label") }}
		     {{ form.location(class="form-control form-control-lg", placeholder="Example: Dublin2, D8, Cork...") }}
		     </h1>
	     </div>

		<div class="form-group">
		     <h1>{{ form.contact.label(class="form-control-label") }}
		     {{ form.contact(class="form-control form-control-lg", placeholder="0830674484",maxlength="10") }}
		     </h1>
	     </div>

    <div class="form-group" style="border: solid;max-width: 500px;margin: auto;">
      {{ form.picture.label(class="form-group") }}
      {{ form.picture(class="form-control-file") }}
    </div>


	<br>
     <div class=" form-group">
         {{ form.submit(class="btn btn-outline-info") }}
     </div>

  </form>

</div>





<style type="text/css">
	.form-control, .form-control-file{
		max-width: 500px;
		margin: auto;
	}



</style>








{% endblock %}